# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.tfstate.lock.info

# Variable files
*.auto.tfvars

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Ignore all tfvars
*.tfvars

# Keep example files
!*.tfvars.example

# Allow ONLY the dev environment tfvars
!workspace-infra/environments/dev/terraform.tfvars

# IDE / OS
.vscode/
.DS_Store

# Logs
*.log

git remote add origin https://github.com/MovvaAmar/terraform-platform-lab.git
git push -u origin main